// Media Queries
@import "breakpoints";

@mixin xs {
    @media screen and (min-width: map-get($breakpoints, "xs")) { 
        @content; 
    }
}

@mixin sm {
    @media screen and (min-width: map-get($breakpoints, "sm")) { 
        @content; 
    }
}

@mixin md {
    @media screen and (min-width: map-get($breakpoints, "md")) { 
        @content; 
    }
}

@mixin lg {
    @media screen and (min-width: map-get($breakpoints, "lg")) { 
        @content; 
    }
} 

// Center position
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Default button tag
@mixin default-button {
    height: 100%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}